.creation-runtime-title{
    color: #32CBBB;
    font-weight: bolder;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
}

.creation-runtime-title2{
    color: #32CBBB;
    font-size: 1.2vw;
    margin-left: auto;
    margin-right: auto;
}

.creation-runtime-content{}