.assetEdit-content{
    width: 77vw!important;
    height: 34vw;
}
.menu-upload{
    background: transparent;
    /* width: 100%; */
    font-size: 1vw;
    margin: 0px;
    margin-left: 10px;
    height: 4vw;
    color: rgb(0,0,0,0.4);
    border-radius: 0px;
}
.menu-button-asset-edit {
    background: transparent;
    /* width: 100%; */
    font-size: 1vw;
    margin: 0.5vw;
    height: 3vw;
    color: rgb(0,0,0,0.4);
    border-radius: 0px;
    cursor: pointer;
}