.action-log-grid-perso{
    position: relative;
    width: 93vw!important;
    height: 37vw
}
.log-grid-perso{
    height: 40vw;
}
.menu-button{
    background: transparent;
    width: 100%;
    font-size: 1vw;
    margin: 0px;
    height: 3vw;
    color: rgb(0,0,0,0.4);
    border-radius: 0px;
    cursor: pointer;
}
.menu-button[disabled][disabled] {
    pointer-events: none;
    color: var(--lumo-disabled-text-color);
}
.content-action-logging{
    width: 100%;
    height: 100%;
    text-align: center;
}
.content-log{
    width: 30vw;
    height: 19vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.vaadin-text-area-container div[part="input-field"]{
    overflow-y: scroll!important;
}