@import "login/globalLogin.css";
@import "menu/menuGlobal.css";
@import "leftMenu/leftMenuGlobal.css";
@import "view/global.css";

.separator{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    width: 100%;
}

.squelette-composant-contentAll{
    width: 100%!important;
    height: 100%;
    padding: 0px;
}

.squelette-component-content{
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
}

.squelette-component-horizontal{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.squelette-component-infoPage{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.footer-button{
    background: transparent;
    cursor: pointer;
    font-size: 0.8vw;
}


