<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/m2_kiewb/repository</localRepository>

    <servers>

        <server>
            <id>pymma2-release</id>
            <username>nheron</username>
            <password>pymmalomme</password>
        </server>
        <server>
            <id>pymma2-snapshot</id>
            <username>nheron</username>
            <password>pymmalomme</password>
        </server>


    </servers>


    <mirrors>
    </mirrors>

    <profiles>
        <profile>
            <id>pymma-declasin</id>
            <repositories>
                <repository>
                    <id>pymma2-snapshot</id>
                    <name>pymma2 repo release</name>
                    <url>https://nexus.pymma-software.net/repository/pymma-snapshot/</url>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>pymma2-release</id>
                    <name>pymma2 repo release</name>
                    <url>https://nexus.pymma-software.net/repository/pymma-release/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </repository>

            </repositories>


        </profile>


    </profiles>
    <activeProfiles>


        <activeProfile>pymma-declasin</activeProfile>
    </activeProfiles>

</settings>
