.datepicker-perso-icon{
    color: #a5a5a5;
    margin-top: 18px;
}
.content-icon{
    background-color: grey;
    height: 40px;
    border-radius: 3px;
    margin-top: 35px;
    padding: 6px !important;
}
.vaadin-date-picker-container.style-scope.vaadin-date-picker >label {

    margin-left: -35px;
}
.vaadin-date-picker-container.style-scope.vaadin-date-picker  {
    width: 400px;

}
vaadin-date-picker [part="input-field"]{
    width: 400px;
}