.DialogClose {
    position: relative;
    left: calc(100% - 20px);
    background-color: #ff402bc4;
    height: 15px;
    min-width: 15px !important;
    width: 3px !important;
    border-radius: 50%;
    box-sizing: unset;
    font-size: 9px;
    padding: 0 !important;
    color: black;
    cursor: pointer;
}

.DialogBar {
    width: calc(100% + 49px);
    position: relative;
    top: -25px;
    right: 25px;
    background-color: lightgrey;
}