.passwordField-perso-icon{
    color: #a5a5a5;
    margin-top: 18px;
}
.content-icon{
    background-color: grey;
    height: 40px;
    border-radius: 3px;
    margin-top: 35px;
    padding: 6px !important;
    width: 37px !important;
}
.horizontal-content{
    width: 90%;
}
.vaadin-text-field-container.style-scope.vaadin-password-field {
    width: 100%;
}
.vaadin-text-field-container.style-scope.vaadin-text-field  {
    width: 100%;
}
.content-perso-field{
    width: 100%;
}

