
.login-application-layout-FormulaireInfo {
    position: relative;
    background: #32CBBB;
    border: 4px solid #32CBBB;
    width: 50%!important;
    display: inline-grid;
}
.login-application-layout-FormulaireInfo:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.login-application-layout-FormulaireInfo:after {
    border-color: rgba(50, 203, 187, 0);
    border-right-color: #32CBBB;
    border-width: 30px;
    margin-top: -30px;
}
.login-application-layout-FormulaireInfo:before {
    border-color: rgba(50, 203, 187, 0);
    border-right-color: #32CBBB;
    border-width: 36px;
    margin-top: -36px;
}

.login-application-layout-FormulaireInfo-Title{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-top: -30%;
}

.login-application-layout-FormulaireInfo-Paragraphe{
    color: whitesmoke;
    margin-top: -30%;
}