.login-application-title{
    color: #32CBBB;
    font-weight: bolder;
    font-size: 30px;
}

.login-application-forgotPassword{}

.login-application-connexion {
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: white;
    background-color:#32cbcb ;
    border-radius: var(--lumo-border-radius);
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10%;
    cursor: pointer;
    display: inline-block;
}
.login-application-connexion[disabled][disabled] {
    pointer-events: none;
    color: var(--lumo-disabled-text-color);
    background-color: gainsboro;

}

.login-application-connexion-error {
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: white;
    background-color:red ;
    border-radius: var(--lumo-border-radius);
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10%;
    cursor: pointer;
    display: inline-block;
}

.login-application-layout{
    display: inline-block;
    box-shadow: 5px 4px 10px #A0A0A0A0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.login-application-layout-separation{}

.login-application-layout-formulaire{}