@import "formulaire.css";
@import "formulaireInfoContent.css";
@import "textInfo.css";
@import "loginComponent.css";

.login-global{
    text-align: center;
    background-color: #F0F0F0;
    height: 76%!important;
    padding-top: 8%;
}
.global-layout{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 !important;
    background-color: #F0F0F0;
}


.footer-button .vaadin-button-container {
    text-decoration: underline!important;
}

.footer-button :hover{
    background: transparent;
}
.login-global-content{}

.login-logoPresentation{
    width: 200px;
}
.content-image{
    display: inline-block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    height: 12%;
    box-shadow: 0px 2px 10px #A0A0A0A0;
}
.content-image2{
    display: inline-block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    height: 12%;
    box-shadow: 0px -2px 12px #A0A0A0A0;
}