.login-layout-textInfo{
    width: 40%!important;
    margin-left: 10%;
}

.login-title{
    font-size: 20px;
    font-weight: bold;
}

.login-textInfo-layoutContent{}

.login-textInfo-button{}

.login-textInfo-paragraph{}