.menu-secondaire-content{
    width: 100%;
    background-color: #32cbcb;
    box-shadow: 5px 4px 10px #A0A0A0A0;
    height: 3vw;
}
.menu-secondaire-button{
    background-color: transparent;
    height: 100%;
    color: white;
    cursor: pointer;
    font-size: 1vw;
    position: relative;
}

.menu-secondaire-button.active :after{
    border-top: 20px solid #32cbcb;
    content: "";
    position:absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0px;
    margin-bottom: -15px;
    bottom: 0;
    display: block;
    margin-top:-4px;
}
