.menu-principal-menubar-content{
    height: 8%;
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 5px 4px 10px #A0A0A0A0;
}

.menu-principal-logoPresentation{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    width: 11vw;
}
.icon-menuPrincipal{
    color: rgba(0,0,0,0.60);
}
.hamburger{
    background-color: transparent;
    height: 100%;
    margin: 0px;
    cursor: pointer;
    margin-left: 18px;
    font-size: 2vw;

}
.menu-principal-button{
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    border-radius: 0px;
    color: rgba(0,0,0,0.60);
    margin: 0px;
    font-size: 0.9vw;
}

.menu-principal-button.active{
    border-bottom-color: rgb(50, 203, 187);
    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    background-color: whitesmoke;
}

.menu-principal-button-user{
    background-color: #32CBC3;
    cursor: pointer;
    height: 100%;
    border-radius: 0px;
    color: white;
    position: absolute;
    right: 0;
    margin: 0px;
    width: 14%;
    font-size: 1.3vw;
    font-weight: bolder;
}